---
title: Begin the adventure
description: Start your quest and signup to the waitlist
---
<section class="body2">
<div class="contact-form animate__animated animate__fadeIn animate__delay-2s">
    <form name="contact" method="POST" data-netlify="true">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</section>