---
title: Quest
description: Google Analytics for Physical Spaces
---

<a href="/begin-quest" class="transition">
	<div id="fade-overlay"></div>

	<section class="hero body">
	<div class="d-flex justify-content-center">
	  {% include hero.html %}
	</div>
	<div class="animation-wrapper">
	  <div class="pulse-circle"></div>
	  <div class="pulse-circle"></div>
	</div>
  </section>
  </a>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
	$(document).ready(function() {
		$("#fade-overlay").fadeOut(2000);
	
		$("a.transition").click(function(event){
			event.preventDefault();
			linkLocation = this.href;
			$("#fade-overlay").fadeIn(1000, redirectPage);      
		});
			 
		function redirectPage() {
			window.location = linkLocation;
		}
	});
	</script>
	
  <script>
	$(document).ready(function() {
		$(".body").css("display", "none");
		$(".body").fadeIn(0);
	
		$("a.transition").click(function(event){
			event.preventDefault();
			linkLocation = this.href;
			$(".body").fadeOut(1000, redirectPage);      
		});
			 
		function redirectPage() {
			window.location = linkLocation;
		}
	});
	</script>
	
<!--
<div class="justify-content-center d-flex 
animate__animated 
animate__fadeInDown
animate__slow	
animate__infinite infinite">
	<a href="#belowfold"><img src="/images/downchevron.png"class="img-fluid"></a>
</section>

<div class="content">

	<section class="aboutSection"  id="belowfold">
		<div class="container justify-content-center">
			<h2>About</h2>
			<p>
				Welcome to Quest. We are the future of onsite engagement. Our powerful tool helps companies solve complex data aggregation challenges by combining unique physical and virtual experiences while building behavioral profiles from customer interactions. Download our app today and start building the future of behavioral data!
			</p>

		</div>
	</section>



	<section class="stadiumSection">

	<div class="row">	
		<div id="carouselExampleFade" class="col carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<img class="d-block w-100" src="images/14.png" alt="First slide">
			  </div>
			  <div class="carousel-item">
				<img class="d-block w-100" src="images/15.png" alt="Second slide">
			  </div>
			  <div class="carousel-item">
				<img class="d-block w-100" src="images/16.png" alt="Third slide">
			  </div>
			  <div class="carousel-item">
				<img class="d-block w-100" src="images/17.png" alt="Four slide">
			  </div>
			  <div class="carousel-item">
				<img class="d-block w-100" src="images/18.png" alt="Five slide">
			  </div>
			
			</div>


		  </div>

		  <script>
			$('.carousel').carousel({
				interval: 1500
			  })
		</script>

		<div class="col-md-6">
			<h2>The Treasure Hunt</h2>
			<p>
				Our system makes it easy for event organizers to create engagement nodes for participants to acquire badges for engagement. With our user-friendly interface, you can create and customize the nodes for each of the locations, making them as challenging or easy as you like. As participants engage with each node, they'll unlock new badges tracking their engagement. Our app's real-time tracking feature also allows you to monitor participants' progress, ensuring everyone is having a great time and completing the quest at their own pace.

			</p>
		</div>
		</div>
	</section>


	<section class="insightSection">
		<div class="insightContent">
			<h2>Gain Breakthrough Insights</h2>
			<p>
				Our analytics system not only provides a fun and engaging experience for participants, but it also offers valuable insights and analytics for event organizers, businesses and vendors. With our app's real-time tracking and analytics features, you can gain breakthrough insights into participant behavior, preferences, and engagement levels.			</p>
		</div>
	</section>

	<section class="logoSection bg-white">
		<h1 class="text-center mb-5">Partners</h1>
		<div class="row">
			<div class="col">
				<img src="/images/Bloomly.svg">
			</div>

			<div class="col">
				<img src="/images/BCW.svg">
			</div>

			<div class="col">
				<img src="/images/hedera_logo.png">
			</div>

			<div class="col">
				<img src="/images/omega.png">
			</div>
		</div>
	</section>

	<section class="teamSection col-12">
		<div class="row">

			<div class="john profile col-sm-6">
				<span class="profileText">
				<h3>John Bianchi<h3>
				<p>
					As a serial entrepreneur, John enjoys innovating new ways to help businesses solve complex challenges. He brings the business knowledge of how to scale and drive revenue growth to the Quest team.
				</p>
			</span>
			</div>
		
			<div class="jay profile col-sm-6">
				<span class="profileText">
				<h3>Jay Becker<h3>
				<p>
					Building awesome products is what drives Jay. He brings his crypto payments and app development
					experience to create the next evolution in how you do events.
				</p>
				</span>

			</div>


		</div>

	</section>
-->


