

.bottom-cta {
	background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%);
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 100px 0;

	h2 {
		margin-bottom: 50px;
	}
}

html {
	background-color: black !important;
	overflow-x: hidden;
	h2 {
		color: $secondary-brand-color;
	}

	p {
		color: #b8b8b8; 
	}
}

.line-left {
	border-left: 4px dotted $secondary-brand-color;
	height: 150px;
	margin-bottom: 20px;
}


.testimonial {
	background: #f5f5f5;
	margin: 0;
	padding: 100px 0;

	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
		
	}
}

.hero {
	color: #ffffff;
	text-align: left;
	background: $brand-color;
	height: 100vh;

	img {
		max-width: 60px;
	}

	p {
		color: #fff;
	}
	.animation-wrapper {
		position: absolute;
		top: 75%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100px;
		height: 100px;
	  }
	  
	  .pulse-circle {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: rgba(163, 163, 163, 0.349);
		animation: pulse 3s infinite;
	  }
	  
	  .pulse-circle:nth-child(2) {
		animation-delay: 1.5s; /* Halfway through the first circle's animation */
	  }
	  
	  @keyframes pulse {
		0% {
		  transform: scale(0.1);
		  opacity: 1;
		}
		100% {
		  transform: scale(1);
		  opacity: 0; /* Fade away */
		}
	  }
	
	  
}

.hero-canvas {
	max-height: 80vh;
	background-color: #f5f5f5;
}

.hero-div {
	display:none;
}

.aboutSection {
	border-top: 4px, solid, white;
	padding: 15vh;
		
	h2 {
		text-align: center;
	}

}

.stadiumSection {
	background-color: #1B1919;
	padding: 20vh 5vh 20vh 5vh;

}

.engagementSection {
	padding-top: 10vh;
	background-color: $brand-color;

	.engagementDiv {
		padding-bottom: 10vh;
	}

	.engagementImage {
		background-image: url("/images/engagement.png"); 
		background-size: cover;
	}

}

.insightSection {
	padding: 20vh 15vh 20vh 15vh;
	background-image: url("/images/analyticsDashboard.jpg");
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	.insightContent {
		background-color: #1B1919;
		opacity: 1;
		padding: 4vh;
		box-shadow: 5px 1px 30px 12px black;

		h2 {
			text-align: center;
		}

	}
}




.logoSection {
	padding-top: 3vh;
	padding-bottom: 10vh;
	padding-right: 2vh;
	padding-left: 2vh;
	box-shadow: 0px 1px 30px 12px #111111;

	h1 {
		color:#444444;
	}
}


//team section

.teamSection {
	box-shadow: 0px 1px 10px 12px #111111;

	div {

		.jay {
			background-image: url("/images/jay.jpg");
			background-size: cover;
			background-position: center;
			
			span {
				float: left;
				position:relative;
				top: 40%;
				max-width: 20vh;

			}
		}
		.john {
			background-image: url("/images/john.jpg");
			background-size: cover;
			background-position: center;

			span {
				float: right;
				position:relative;
				top: 10%;
				max-width: 20vh;
			}

		}
		
		.profile {

			span {
	
				h3 {
					color: $secondary-brand-color;
					font-size: 25px;
					text-align: center;
				}
				p {
					color: #dadada;
					text-align: center;
				}
			}
		}
	}

}

.calendly-inline-widget {
	min-height: 70vh;
	background-color: white;
}


//responsive section

@media #{$mobile} {
	.aboutSection {
		padding: 1vh;
	}

	.insightSection {
		padding: 1vh;
	}
	.teamSection  {
		div {
			.jay {
				span {
					top: 10%;
					p {
						font-size: 14px;
					}
				}
			}

			.john {
				span {
					p {
						font-size: 14px;
					}
				}
			}

			.profile {
				height: 60vh;
				font-size: 5px;

			}
		}
	}
}


@media #{$tablet} {
	.aboutSection {
		padding: 15vh;
	}
	.teamSection  {
		height: auto;
		div {
			height: 50vh;
		}
	}
}

@media #{$desktop} {

	.teamSection  {
		div {
			.jay {

				span {
					top: 40%;

					p {

						font-size: 16px;
					}
				}
			}

			.john {
				span {
					p {
						font-size: 16px;
					}
				}
			}
			
			.profile {
				height: 60vh;
				font-size: 5px;
			}
		}
	}

	.insightSection {
		padding: 20vh 15vh 20vh 15vh;
	}


	.teamSection  {
		div {
			height: 50vh;
		}
	}

	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}

		.hero-image {
			border-radius: 35px;
			max-height: auto;
			max-width: 60%;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}

@media #{$widescreen} {
	.teamSection  {
		div {
			height: 70vh;
		}
	}
}

/* start the adventure */


.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
    color: $secondary-brand-color;
}

.contact-form .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $secondary-brand-color;
    border-radius: 0;
    color: $secondary-brand-color;
    transition: all 0.3s ease;
}

.contact-form .form-control::placeholder {
    color: rgba(170, 168, 168, 0.527);
}

.contact-form .form-control:focus {
    border-color: darken($secondary-brand-color, 10%);
    box-shadow: none;
    color: white;
    outline: none;
	background-color: black;
}

.contact-form .form-group label {
    color: $secondary-brand-color;
}

.contact-form .btn-primary {
    background-color: $secondary-brand-color;
    border-color: $secondary-brand-color;
    transition: all 0.3s ease;
}

.contact-form .btn-primary:hover,
.contact-form .btn-primary:focus {
    background-color: darken($secondary-brand-color, 10%);
    border-color: darken($secondary-brand-color, 10%);
}


.body {
	display: none;
}

#fade-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 9999;
}