$brand-color: #111111;
$secondary-brand-color: #6f2d8a;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
$mobile: "(min-width: 0)";
$widescreen: "(min-width: 1400px)"
