---
layout: default
---
<div class="content">
	<section class="page">
		<div class="container {% if page.full_width %}max-container{% endif %}">
			{% if page.heading %}
				<h2>{{ page.heading }}</h2>
			{% elsif page.title and page.layout != 'archive' %}
				<h2 class="mt-3 font-weight-bold animate__animated animate__fadeInDown">{{ page.title }}</h2>
			{% endif %}
			{% if page.description %}
				<p class="subtext text-center font-weight-lighter animate__animated animate__fadeInDown animate__delay-1s">{{ page.description }}</p>
			{% endif %}
			{{ content }}
		</div>
	</section>
</div>
